{% extends 'newsletter/base.html' %}

{% block content %}

    <main role="main" class="container">

        <div class="starter-template">
            <h2>Для чего нужна email рассылка?</h2>
        </div>
        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">1. Маркетинг и продвижение</h4>
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4">
                            <p>Email-рассылки часто используются для продвижения продуктов, услуг или событий</p>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">2. Информирование и поддержка</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <p>Email-рассылки служат для информирования пользователей о новостях компании, обновлениях в
                                продуктах или изменениях в политике</p>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">3. Укрепление отношений с клиентами</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <p>Регулярные рассылки помогают строить долгосрочные отношения с аудиторией и поддерживать
                                лояльность клиентов.</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}