{% extends 'newsletter/base.html' %}

{% block content %}

    <div class="container">

        <div class="starter-template">
            <h2>Список сообщений</h2>
        </div>

        <a type="button" class="btn btn-primary btn-lg text-center w-25" href="{% url 'newsletter:message_create' %}">Создать сообщение</a><br><br>

        {% for object in object_list %}
            <div class="card w-75 bg-dark">
                <div class="card-body text-white">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a type="button" class="btn btn-outline-primary"
                           href="{% url 'newsletter:message_detail' object.pk %}">перейти</a>
                        <a type="button" class="btn btn-outline-primary"
                           href="{% url 'newsletter:message_edit' object.pk %}">редактировать</a>
                        <a type="button" class="btn btn-outline-primary"
                           href="{% url 'newsletter:message_delete' object.pk %}">удалить</a>
                    </div>
                </div>
            </div><br>
        {% endfor %}


    </div>



{% endblock %}